chardet==5.2.0
freetype-py==2.3.0
lightgbm==4.3.0
lxml==4.9.3
numpy==1.26.4
pillow==10.1.0
pycairo==1.26.0
python-docx==1.1.0
rlpycairo==0.2.0
scipy==1.12.0
typing_extensions==4.8.0

# Pip-specific packages
appscript==1.2.2
cffi==1.16.0
comtypes==1.2.0
docx2pdf==0.1.8
pillow-heif==0.15.0
pycparser==2.21
pyheif==0.7.1
reportlab==4.0.6
tqdm==4.66.1